<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log Details</title>
    <link rel="stylesheet" href="/styles/tailwind.css">
    <script src="/js/json.js"></script>

    <style>
        body {
            font-family: Arial, sans-serif;
        }
        pre {
            background-color: #f4f4f4;
            padding: 10px;
            border-radius: 5px;
            white-space: pre-wrap; /* Ensure text wraps */
        }
    </style>
</head>
<body>
    <h1 class="text-2xl text-center">Log Details</h1>
    <div id="json"></div>
    <pre id="log-details-container"></pre>
    

    <script src="/js/logDetails.js"></script>

</body>
</html>
